#menu, #label-icon{
    display: none;
  }
  header{
    width: 100%;
    padding: 25px 0px;
    background-color: #33373B;
    color: #2e2e31;
    margin-top: 0px;
    position: fixed;
    top: 0;
    transition: 0.4s;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  }
  
  .caja-padre-menu{
    background-color: #33373B;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.4s;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: flex-end;
  }
 .caja-menu{
    display: flex;
    align-items: flex-end
    
    }
  
 

  nav ul{
    list-style: none;
    margin: 0;
    display: flex;
  
  }
  nav, li, a.vinculo-secciones{
    display: list-item;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    padding: 0.1em 1em;
    color: white;
    
  }
  nav, li, a.vinculo-secciones:hover {
    color: #021a35;
  }
  .vinculo-secciones{
    padding: 0px 30px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    line-height: 2;

  }
  
  .botonContacto{
    padding: 0rem  1.9rem;
    border-radius: 6.25rem;
    border: none;
    background-color: #F9A826;
    
  }
  
  .botonContacto:hover{
    background: #c7f8f9;
    color: #6ab1c9;
    border: 3px solid #6ab1c9;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
 


  /*Media Queries*/

@media screen and (max-width: 576px) {
/* MENU*/

  header{
    width: 100%;
    padding: 25px 0px;
    background-color: #33373B;
    color: #2e2e31;
    margin-top: 0px;
    position: fixed;
    top: 0;
    transition: 0.4s;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  }
  .caja-padre-menu{
    background-color: #33373B;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.4s;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    height: 15%; 
  }
  .secciones-menu{
    display: none;
  }
  #menu:checked  ~ .secciones-menu{
    display:block;
  }
  #menu {
    display: none;
  }
  #label-icon {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    /*width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;*/
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-color: rgb(87, 86, 86);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5em;
    line-height: inherit;
  }
  
  /*Estilo hover boton sandwich menu*/
  #label-icon:hover{
    background: rgb(112, 111, 111);
  }
  /* Estilo checked boton sandwich cuando el menú está expandido*/
  #menu:checked ~ #label-icon {
    background: rgb(235, 235, 235); 
  }  
  .secciones-menu{
    margin-top:0;
    padding: 0;
    width: 200px;
    position: absolute;
  }
  .link-secciones{
    font-size: 2rem;
  }
  .listado-secciones {
    display: block;
    width: 15rem;
    background: #33373B;
    margin: 0;
    padding: 5%;
    list-style: none;
    border-bottom: 1px solid grey;
  }
  
  /* Estilo hover de menu */
  .listado-secciones:hover {
    filter: brightness(110%);
  }

  .vinculo-secciones{
    font-size: 1em;
  }
}